.auth-background {
    background: url('../Images - Jaden/merch-background-phone.jpg') center center/cover no-repeat;
    min-height: 100vh;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
    object-fit: contain;
    margin-top: -100px;
}

.auth-wrapper {
    width: 80vw;
    max-width: 1200px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.auth-headers {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.auth-header {
    margin-bottom: 20px;
    font-size: 82px;
    font-weight: normal;
    text-shadow: -9px 18px 9px rgba(0, 0, 0, 0.35);
}

.auth-select {
    color: #C9C9C9;
    opacity: 0.5;
}

.auth-select:hover {
    opacity: 1;
}

.auth-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    filter: drop-shadow(-9px 18px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(4px);
    width: 100%;
    max-width: 800px;
    height: 475px;
    right: 0;
    margin: 0 auto;
}
