/* :root {
    --primary: #fff;
} */
  
.btn {
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}
  
/* .btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
} */

.btn--navigation {
    background-color: #0F2021;
    color: #E68FB1;
}

.btn--cycle {
    display: inline-block;
    height: 24px;
    width: 24px;
    border-radius: 50%;
}
  
/* .btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
} */

.btn--circle {
    padding: 10px 10px;
    margin-bottom: 200px;
    margin-right: 20px;
    box-shadow: -9px 18px 4px rgba(0, 0, 0, 0.25);
    background: #FCFCFC;
}

.btn--medium {
    padding: 10px 20px;
    font-size: 18px;
}
  
.btn--large {
    padding: 12px 26px;
    font-size: 32px;
}
  
.btn--navigation:hover {
    transition: all 0.3s ease-out;
    transform: scale(1.1)
    /* background: #2b5f61;
    color: #E68FB1;
    transition: 250ms; */
}