.btn {
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

/* - - - - - Button Styles - - - - - */

.btn--navigation {
    background-color: #0F2021;
    color: #E68FB1;
}

.btn--cycle {
    display: inline-block;
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.btn--buy {
    background: linear-gradient(180deg, rgba(0, 79, 232, 0.75) 0%, rgba(133, 175, 255, 0.75) 105.32%);
    border-radius: 10px;
    color: black;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.btn--buy:hover {
    background: linear-gradient(180deg, rgba(0, 79, 232, 0.75) 0%, rgba(133, 231, 255, 0.75) 105.32%);
    transform: scale(1.05);
    transition: all 0.3s ease-out;
}

.btn--buy:active {
    transform: translateY(4px);
}

.btn--buy:disabled {
    background: linear-gradient(180deg, rgba(0, 77, 232, 0.301) 0%, rgba(133, 231, 255, 0.301) 105.32%);
}

.btn--minimal {
    background: linear-gradient(180deg, rgba(0, 77, 232, 0) 0%, rgba(133, 231, 255, 0) 105.32%);
    border-bottom: 2px solid black;
    transition: all 0.9s;
}

.btn--minimal:hover {
    background: linear-gradient(180deg, rgba(0, 77, 232, 1) 0%, rgba(133, 231, 255, 1) 105.32%);
}

.btn--size {
    background: #ABABAB;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 7.5px;
}

/* - - - - - Button Sizes - - - - - */

.btn--circle {
    padding: 10px 10px;
    margin-bottom: 200px;
    margin-right: 20px;
    box-shadow: -9px 18px 4px rgba(0, 0, 0, 0.25);
    background: #C9C9C9;
}

.btn--square {
    padding: 8px 16px;
    margin: 1px;
}

.btn--medium {
    height: auto;
    align-self: center;
    justify-self: center;
    padding: 10px 20px;
    font-size: 18px;
}
  
.btn--large {
    padding: 12px 26px;
    font-size: 32px;
}
  
.btn--navigation:hover {
    transition: all 0.3s ease-out;
    transform: scale(1.1)
    /* background: #2b5f61;
    color: #E68FB1;
    transition: 250ms; */
}

/* - - - - - Button States - - - - - */

.btn--select {
    background: #FCFCFC;
}
