.merch-product {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 30px;
    align-self: stretch;
    justify-items: flex-end;
    min-width: 250px;
}

.merch-image {
    display: flex;
    align-self: center;
    max-width: 300px;
    max-height: 250px;
    margin: auto 0;
}

.merch-info {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.merch-info span {
    font-size: 24px;
}

.empty-cart {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 200px;
    font-size: 32px;
    letter-spacing: 0.5px;
}

.unauth-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 250px;
}

.unauth-message {
    font-size: 32px;
    margin: 100px auto;
    text-shadow: -1.5px 2px plum;
}

.choice-buttons {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

@media screen and (max-width: 768px) {

    .merch-product {
        max-width: 450px;
        min-width: 0px;
    }

    .merch-image {
        max-width: 150px;
    }

    .merch-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .unauth-message {
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
        font-size: 24px;
        text-align: center;
    }

    .choice-buttons {
        flex-direction: column;
        height: 150px;
    }

}