/* ************** TOURS ************** */

.tour-background {
    background: url('../Images - Jaden/tour-background.webp') center center/cover no-repeat;
    min-height: 100vh;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
    object-fit: contain;
    margin-top: -100px;
}

.tour-wrapper {
    width: 80vw;
    max-width: 1200px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.tours-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    font-size: 82px;
    font-weight: normal;
    text-shadow: -9px 18px 9px rgba(0, 0, 0, 0.25);
}

.tours-section {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    height: 415px;
    right: 0;
    margin: 0 0 0 auto;
}

.search {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
    margin: 20px 0px 0px 20px;
    width: 30%;
}

.fa-search {
    align-self: center;
    margin-right: 10px;
    color: #223B6E;
    font-size: 28px;
    text-shadow: -1px 1px 1px rgba(241, 88, 216, 0.5);
}

.search-field {
    background: none;
    border: none;
    font-size: 28px;
    color: black;
}

.search-field::placeholder {
    color: black;
}

.search-field:focus {
    outline: none;
}

.scroll-box-tickets {
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 30px;
}

/* ************** TOUR ************** */

.tour-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 2px solid black;
    width: 95%;
}

.tour-item:last-child {
    border-bottom: none;
}

.tour-info {
    align-self: flex-start;
    width: 60%;
}

.tour-date,
.tour-city,
.tour-arena {
    font-size: 24px;
    padding-right: 10px;
}

.tour-city {
    display: block;
}

.btn-mobile {
    align-self: center;
}

.fa-map-marked-alt {
    font-size: 24px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.fa-map-marked-alt:hover {
    transform: translateY(-2px);
    transition: all 0.1s ease-out;
}

.fa-map-marked-alt:active {
    color: rgba(0, 79, 232, 0.75);
    transition: none;
}

.fa-map-marked-alt:visited {
    color:  rgba(133, 231, 255, 0.75);
}

.map-location {
    color: black;
}

.map-location:active {
    color: #242424;
}

/* ************** SCROLLBAR ************** */

/* width */
.scroll-box-tickets::-webkit-scrollbar {
    width: 20px;
}
  
  /* Track */
.scroll-box-tickets::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #383B61; 
    background: #383B61;
    border-radius: 20px;
}
   
  /* Handle */
.scroll-box-tickets::-webkit-scrollbar-thumb {
    background: #A0B4DB; 
    border-radius: 20px;
}
  
  /* Handle on hover */
.scroll-box-tickets::-webkit-scrollbar-thumb:hover {
    background: #7f9dda; 
}